.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.canvas {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-canvas);
  position: relative;
}
